<input type="range" id="radius" name="rangeInput" min="50" max="1000" onchange="updateTextInput(this.value);">
<input type="text" id="textInput" value="">
<select id="category">
  <option value="clothing_store">clothing_store</option>
  <option value="drugstore">drugstore</option>
  <option value="electronics_store">electronics_store</option>
  <option value="pet_store">pet_store</option>convenience_store
  <option value="store">store</option>
</select>
<div id="map"></div>
<div id="right-panel">
  <h2>Results</h2>
  <ul id="places"></ul>
  <button id="more" onclick="initMap()">More results</button>
</div>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZTzMEdD2iN5NkYojIHUeJtNi6_NIWla4&libraries=places&" async defer></script> <!--callback=initMap-->
<script type="text/javascript">
    var map;
    var nameAddress = "";
    var address = "";
    var previousMarker;
    var lat = 0;
    var lng = 0;
    function initMap() {
      var radius = document.getElementById("radius").value
      var category = document.getElementById("category").value
      // Create the map.
      if(lat != 0) {
      var pyrmont = {lat: lat, lng: lng};
    } else {
      var pyrmont = {lat: 49.451703, lng: 32.045537};
    }
      map = new google.maps.Map(document.getElementById('map'), {
        center: pyrmont,
        zoom: 17
      });

      map.addListener('click', function(e) {
       // if the previousMarker exists, remove it
       if (previousMarker)
         previousMarker.setMap(null);

       latLng = e.latLng;

       lat = e.latLng.lat()
       lng = e.latLng.lng()
       console.log(lat);
       console.log(lng);
       initMap();
       previousMarker = new google.maps.Marker({
         position: latLng,
         map: map
       });
     }

   );

      // Create the places service.
      var service = new google.maps.places.PlacesService(map);
      var getNextPage = null;

      // Perform a nearby search.
      service.nearbySearch(
      {location: pyrmont, radius: radius, type: [category]},
      function(results, status, pagination) {
        if (status !== 'OK') return;

        createMarkers(results);
        moreButton.disabled = !pagination.hasNextPage;
        getNextPage = pagination.hasNextPage && function() {
          pagination.nextPage();
        };
      });
    }
    var loc;
    function createMarkers(places) {
      var bounds = new google.maps.LatLngBounds();
      var placesList = document.getElementById('places');

      for (var i = 0, place; place = places[i]; i++) {
        var image = {
          url: place.icon,
          size: new google.maps.Size(71, 71),
          origin: new google.maps.Point(0, 0),
          anchor: new google.maps.Point(17, 34),
          scaledSize: new google.maps.Size(25, 25)
        };

        var marker = new google.maps.Marker({
          map: map,
          icon: image,
          title: place.name,
          position: place.geometry.location
        });


        // var li = document.createElement('li');
        // li.textContent = place.name;
        nameAddress += place.place_id + "; " //+ "?" + place.geometry.location + "; " + place.plus_code;
        // placesList.appendChild(li);
        // li.textContent = "";

        bounds.extend(place.geometry.location);
      }
      console.log(nameAddress)
      map.fitBounds(bounds);
      document.getElementById("place_name").value = nameAddress.toString();
      nameAddress = "";
    }

    function updateTextInput(val) {
      document.getElementById('textInput').value = val;
    }
  </script>

<%# provide :head_tags do %>
  <!-- <script>
    document.addEventListener("turbolinks:load", initMap());
  </script> -->
<%# end %>

<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field :name, id: :place_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>


<% end %>
